.wizard {
    display: grid;
    grid-template-columns: 320px 1fr;
    font-family: 'Roboto', sans-serif;
}

.process {
    box-model: border-box;
    align-self: center;
    justify-self: center;
    padding: 30px 0;
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    li {
    &.step {
        .name {
        display: flex;
        align-items: center;
        color: #939393;
        &:before {
            content: '';
            width: 18px;
            height: 18px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 8px;
            background: #ddd;
        }
        }
        &.completed {
        .name {
            color: #005c9f;
            &:before {
            content: '\2713';
            color: white;
            font-size: .8em;
            text-align: center;
            background: #005c9f;
            }
        }
        }
        &.current {
        .name {
            color: #E74700;
            &:before {
            background: #E74700;
            box-shadow: 0 0 18px lighten(#E74700,24%);
            animation: 1750ms linear infinite pulse;
            }
        }
        }
    &:not(:last-child):after {
        height: 48px;
        width: 3px;
        content: '';
        display: block;
        background-color: #ddd;
        margin-left: 7px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
        &.completed {
        &:not(:last-child):after {
            background-color: #005c9f;
        }
        }
    }
    }
}
&.done {
    ul li {
        &.step {
            .name {
                color: #33673B;
                &:before {
                    background: #33673B;
                    box-shadow: none;
                    content: '\2713';
                    color: white;
                    font-size: .8em;
                    text-align: center;
                }
            }
            &:not(:last-child):after {
            background-color: #33673B;
            box-shadow: 0 0 8px lighten(#33673B,35%);
            }
        }
    }
}
}

@keyframes pulse {
0% {
box-shadow: 0 0 2px lighten(#E74700,24%);
}
80% {
box-shadow: 0 0 18px lighten(#E74700,24%);
}
100% {
box-shadow: 0 0 2px lighten(#E74700,24%);
}
}
